.container{
	width:1000px;
	margin: 0 auto;

}

.card{
	height:200px;
	width:150px;
	background-color:orange;
	float: left;
	margin:5px;
	text-align: center;
	border-radius:5px;
	box-shadow: 10px 10px 10px blue;
}

.card:active{
	background-color: white
}

.card p{
	font-size:50px;
	color:red;
}

.header{
	margin:10px;
}




